/* header */

.blueLine {
    width: 100%;
    height: 3px;
    background-color: #8027D8;
}

.grayLine {
    width: 130px;
    height: 1px;
    background-color: #90A4AE;
    margin: auto 10px;

}

#textTrangChu {
    display: block;
    width: auto;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 0;
    right: 0;
    font-size: 20px;
    margin: 20px 50px 0 0;
    font-family: 'Open sans', sans-serif;
}

#logoTrangChu {
    position: relative;
    display: block;
    margin: 0 auto 0 50px;
    left: 0;
}

header {
   /* background-color: #2AFFFF;*/
    /*background-color: white;*/
    background-color: #f4f4f4;
    /*background: linear-gradient(grey, white);*/
}

/* form */

.loi{
    display: block;
    width: 100%;
    text-align: left;
    font-size: 12px;
    color: red;
}

.loi>.loiSDT, .loi>.loiTaiKhoan, .loi>.loiMatKhau, .loi>#loi{
    display: none;
}



.main {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 89%;
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.content, .content_dk {
    border-radius: 10px;
    max-width: 600px;
    background-color: #f2f2f2;
    height: 500px;
    align-items: center !important;
    display: flex;
    flex-direction: column;

}

.content_dk {
   padding-top: 50px;
}

.title {
    display: flex;
    flex-direction: row;
    color: #90A4AE;
    font-size: 12px;
    margin-top: 10px;
    flex-wrap: wrap;
}

form {
    display: block;
    align-items: center;
    text-align: center;
    margin-top: 15px;
}


input,
button {
    width: 400px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.95;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


/* footer */

footer {
    width: 100%;
    text-align: center;
    align-items: center;
    align-content: center;
    font-size: 1em;
    font-family: 'Open sans', sans-serif;
    color: #90A4AE;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* key frame */

@media only screen and (max-width: 650px) {
    #textTrangChu {
        display: none;
    }

    #logoTrangChu {
        margin: auto;
    }

    header {
        text-align: center;
    }

    .grayLine {
        width: 30px;
    }

    input,
    button {
        width: 300px;
    }

    .content, .content_dk  {
        width: 350px;
    }

}
